<!-- detect {{name|ucf}} Div -->

<div class="col-sm-6">
  <div class="table-responsive">
    <h3>{{name|ucf}}</h3>
    <table class="table table-striped table-hover">
        <caption>zeig alle Definierten Felder</caption>
        <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>name Ucf</th>
            <th>name Lcf</th>
            <th>fieldType</th>
            <th>canBeNull</th>
            <th>isIndex</th>
            <th>isPrimaryKey</th>
            <th>isAutoinc</th>
            <th>defaultValue</th>
        </tr>
        </thead>
        <tbody>
        {% if fields|length > 0 %}
        {% for item in fields %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{item.name}}</td>
            <td>{{item.name|ucf}}</td>
            <td>{{item.name|lcf}}</td>
            <td>{{item.fieldType}}</td>
            <td>{{item.canBeNull}}</td>
            <td>{{item.isIndex}}</td>
            <td>{{item.isPrimaryKey}}</td>
            <td>{{item.isAutoinc}}</td>
            <td>{{item.defaultValue}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    </div>
</div>